.Endpage {
  height: 1080px;
}
.chatWrap {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.wrap {
  display: flex;
  margin-left: 400px;
}
.oChat {
  width: 700px;
  height: 70px;
  justify-content: center;
  background-color: #d0e4c8;
  color: #4e5560;
  border-radius: 60px 60px 0px 60px;
  margin: 10px 0px 20px 0px;
}
.xChat {
  width: 700px;
  height: 70px;
  justify-content: center;
  color: #4e5560;
  background-color: #f5dcdc;
  border-radius: 60px 60px 0px 60px;
  margin: 10px 0px 20px 0px;
}
.Chat {
  width: 700px;
  height: 70px;
  justify-content: center;
  color: #4e5560;
  background-color: #dce4f5;
  border-radius: 60px 60px 0px 60px;
  margin: 10px 0px 20px 0px;
}
