.LevelSettingPage {
  height: 1080px;
}

.logoimage {
  width: 220px;
  height: 65.8px;
  margin-left: 94px;
  margin-top: 65px;
}

.test {
  width: 200px;
  height: 50px;
  border: 1px solid red;
}

.testbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
